$main-color: #ffd948;
$grey: #fafafa;

$gold: #d2a90e;

$blue: #255f85;

$text-color: #333;

$events-text-color: #000;
$events-card-main-text-color: #001725;
$events-card-secondary-text-color: #18435f;
