//MAIN PAGE

//header
$header-height-vh: 8vh;
$header-height-min: 72px;

//Events

//carousel
$events-carousel-height: 90vh;

//cards
$card-width: 300px;
$card-height: 400px;

$horizontal-card-width: 620px;
