.sitemap {
  overflow: hidden;
  font-family: 'Lato';
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  .page_block {
    margin-top: 10px;
    float: left;
    margin-right: 40px;
    .title {
      font-size: 24px;
      font-weight: 700;
    }
    .link-list {
      .link {
        font-size: 18px;
      }
    }
  }
}
