.workflow {
  margin-top: 100px;
  padding-bottom: 200px;
}
.start_container {
  width: 100%;

  .main-text,
  .item_icon,
  .item_illustration {
    display: block;
  }
  .main-text {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
  }

  .item_icon {
    margin: 0 auto;
    margin-top: 15px;
  }

  .item_illustration {
    margin: 0 auto;
    margin-top: -60px;
  }
}
