.contact-form {
  margin: 160px auto;
  margin-bottom: 220px;
  width: 80%;

  .send-form {
    margin-top: 40px;
    width: 40%;
    position: relative;

    .form-title {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
      display: block;
    }
    .close-icon {
      position: absolute;
      right: 0;
      cursor: pointer;
    }

    .textarea {
      height: 120px;
    }
  }
}
